
.app, #root{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F1F2EC ;
}
.app{
  margin-bottom: 50px;
}

.menu {
  background-color: #F1F2EC!important;
  display: flex;
  justify-content: center;
   position: fixed;
   width: 100%;
   z-index: 100;
  }

 
  
  .splash{
    min-width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
   
  #home {
    min-width: 100% !important;
  }

  /* .pool-image {
    width: 100% !important;
    object-fit: cover;
  } */
        
  .name-header{
    position: absolute;
    z-index: 100;
    margin: auto;
    font-family: 'Parisienne', cursive;
    color: #F1F2EC;
    font-size: calc(40px + 2vmin);
  }

  
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.about {
  display: flex;
  color: #213A5E;
}

.headshot{
  max-height: 50%;
  max-width: 50%;
  
}

.about-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.bio {
  padding: 2%;
}

.left-col, .right-col{
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
}

.card{
  max-width: 500px !important;
  padding: 2% !important;
}
.card:hover {
      box-shadow: 8px 12px 31px -10px #FDC9B9;
    }
    
.blogs-container, .projects-container, .contact-Form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: #213A5E;

}
.blogs-row, .project-row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.card-title{
  color: #213A5E !important;
}

.image-bar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 100;
}

.badge-info {
  background-color: #FDC9B9 !important ;
  color: #213A5E !important;
}

.project-div {
  display: flex;
  justify-content: center;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-image{
  max-width: 400px;
  max-height: 300px;
}

.blog-card {
  max-width: 400px;
}

.card-image{
  max-height: 350px;
  position: cover;
  
}
.card-links{
  display: flex;
  justify-content: space-around;
}


.contact-Form{
  align-items: center;
  /* background-color: #048196; */
}

.form{
  max-width: 90%;
  min-width: 70%;
}

.footer{
  padding-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.icon{
  width: 30px;
  height: 30px;
}

html {
  scroll-behavior: smooth;
}

.project-header{
  display: flex;
  justify-content: center;
}

.icon-row{
  padding: 2%
}

p, h1, h2, h3, h4, div {
  font-family: 'Rajdhani', sans-serif;
  /* color: #3A405A; */
}
      div {
        font-size: 12pt
      }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.btn-primary {
  background-color: #213A5E !important;
  color: #F1F2EC !important;
}

.btn-light {
  background-color: #F1F2EC !important;
}
